@model Admin.Models.AuditSummaryCollectionViewModel
@{
    var grid = new System.Web.Helpers.WebGrid(Model.Results, defaultSort: "CreationTimestamp", rowsPerPage: Int32.Parse(Request.QueryString["count"] ?? "20"), selectionFieldName: "AuditId");
    grid.Pager(WebGridPagerModes.All, "First", "Previous", "Next", "Last");
    if (Request.QueryString[grid.SortDirectionFieldName].IsEmpty())
    {
        grid.SortDirection = SortDirection.Descending;
    }

}
<div id="view">
    <div class="row">
        <div class="col-md-12">
            <div style="float: right">
                <a href="#filterBody" data-toggle="collapse" data-parent="filterControls" data-original-title="Filter this result set"><span class="glyphicon glyphicon-filter"></span></a>|
                <a href="javascript:" data-toggle="tooltip"  data-original-title="View this list as a chart" onclick="javascript:AuditTool.ShowStatsView(AuditTool.ViewFilter)"><span class="glyphicon glyphicon-stats"></span><sup><span class="glyphicon glyphicon-asterisk"></span></sup></a>|
                <a href="javascript:" data-toggle="tooltip"  data-original-title="Archive all audits matching this query" onclick="javascript:AuditTool.ArchiveAll(AuditTool.ViewFilter)"><span class="glyphicon glyphicon-briefcase"></span><sup><span class="glyphicon glyphicon-asterisk"></span></sup></a>|
                <a href="javascript:" data-toggle="tooltip"  data-original-title="Delete all audits matching this query" onclick="javascript:AuditTool.DeleteAll(AuditTool.ViewFilter)"><span class="glyphicon glyphicon-trash"></span><sup><span class="glyphicon glyphicon-asterisk"></span></sup></a>
            </div>
            <div style="clear: both" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel-group" id="filterControls">
                <div class="panel panel-default panel-body panel-collapse collapse @String.Format("{0}", Request.Url.ToString().Contains("showFilterBar=true")?"in":"")" id="filterBody">
                        <table class="table">
                            <tr>
                                <th style="width:20%">Status <span class="label label-info" data-toggle="tooltip"  data-original-title="When you select multiple the filter will match ANY of the selected items">(OR)</span></th>
                                <td  style="width:80%">
                                    <select data-filter-autosubmit="true" data-filter-by="StatusCode" style="width:100%; display:none" multiple="multiple">
                                        @*<option value="">Any</option>*@
                                        <option value="ARCHIVED">Archived</option>
                                        <option value="OBSOLETE">Deleted</option>
                                        <option value="NEW">New</option>
                                        <option value="ACTIVE">Reviewed</option>
                                        <option value="HELD">Starred</option>
                                        <option value="SYSTEM">System</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th>Is Alert</th>
                                <td>
                                    <input data-filter-autosubmit="true" data-filter-by="IsAlert" value="true" type="checkbox" />
                                </td>
                            </tr>
                            <tr>
                                <th>Date</th>
                                <td>
                                    <input data-filter-autosubmit="true" data-filter-by="CreationTimestamp" type="text" data-filter-type="date" class="datepicker datepicker-pointer form-control" data-date-format="~yy-mm-dd" readonly="readonly" />
                                </td>
                            </tr>
                            <tr>
                                <th>Classification <span class="label label-info" data-toggle="tooltip"  data-original-title="When you select multiple the filter will match ANY of the selected items">(OR)</span></th>
                                <td>
                                    <select data-filter-autosubmit="true" data-filter-by="EventCode"  style="width:100%; display:none" multiple="multiple">
                                        @foreach (var n in ViewBag.EventCode)
                                        {
                                            <option value="@n">@n</option>
                                        }
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th>Action <span class="label label-info" data-toggle="tooltip"  data-original-title="When you select multiple the filter will match ANY of the selected items">(OR)</span></th>
                                <td>
                                    <select data-filter-autosubmit="true" data-filter-by="ActionCode" style="width:100%; display:none"  multiple="multiple">
                                        @foreach (var n in ViewBag.ActionCode)
                                        {
                                            <option value="@n">@n</option>
                                        }
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th>Outcome <span class="label label-info" data-toggle="tooltip"  data-original-title="When you select multiple the filter will match ANY of the selected items">(OR)</span></th>
                                <td>
                                    <select data-filter-autosubmit="true" data-filter-by="OutcomeCode" style="width:100%; display:none" multiple="multiple">
                                        @foreach (var n in ViewBag.OutcomeCode)
                                        {
                                            <option value="@n">@n</option>
                                        }
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th>Event Type <span class="label label-info" data-toggle="tooltip"   data-original-title="You can select on text semantics: ! = NOT, ~ = LIKE, ',' = OR. For example: 'Tim,~Jim,!Bob' = Tim OR LIKE Jim OR NOT Bob ">(TEXT)</span></th>
                                <td>
                                    <select data-filter-autosubmit="true" data-filter-by="EventType" style="width:100%; display:none" multiple="multiple">
                                        @foreach (var n in ViewBag.EventType)
                                        {
                                            <option value="@n">@n</option>
                                        }
                                    </select>
                                </td>
                            </tr>
                        </table>
                    </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">

            @grid.GetHtml(
    tableStyle: "table table-striped",
    mode: WebGridPagerModes.Numeric,
    footerStyle: "grid-footer",
    headerStyle: "grid-header",
    htmlAttributes: new { id = "resultTable" },
    columns: grid.Columns(
    grid.Column(
    columnName: "StatusCode",
    header: "Status",
    style: "width:350px",
    format: (x) => new HtmlString(Admin.Util.HtmlDisplayUtils.BuildAuditStatusColumnStyle(x.Value))
    ),
    grid.Column(
    columnName: "IsAlert",
    header: "Alert",
    style: "width:5%",
    format: (x) => new HtmlString(Admin.Util.HtmlDisplayUtils.BuildAuditAlertColumnStyle(x.Value))
    ),
        grid.Column(
        columnName: "CreationTimestamp",
        header: "Timestamp"
        ),
        grid.Column(
        header: "Classification",
        columnName: "EventCode"
        ),
        grid.Column(
        header: "Action",
        columnName: "ActionCode"
        ),
        grid.Column(
        header: "Outcome",
        columnName: "OutcomeCode",
        format: (x) => new HtmlString(String.Format("<span class=\"{1}\">{0}</span>", x.Value.OutcomeCode.ToString(), x.Value.OutcomeCode.ToString() == "Major Fail" ? "label label-danger" : x.Value.OutcomeCode.ToString() == "Success" ? "label label-success" : "label label-warning"))
        ),
        grid.Column(
        header: "Event Type",
        columnName: "EventType"
        ),
        grid.Column(
        header: "Actions",
        columnName: "AuditId",
        canSort: false,
        format: (item) => new HtmlString(Admin.Util.HtmlDisplayUtils.BuildAuditColumnAction(item.Value)))
    )
)
        </div>
    </div>
</div>