<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - MEDIC AVIC</title>
    @Styles.Render("~/Content/sitecss")
    @Styles.Render("~/Content/jqueryuicss")


    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span>
                    <span class="glyphicon glyphicon-eye-open pull-left" style="color:white; font-size:2.2em; padding:8px "></span>
                    <span>@Html.ActionLink("MEDIC AVIC", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })</span>
                </span>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Audits", "Index", "Audit")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mohawk College of Applied Arts and Technology</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")


    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/select2")
    @Scripts.Render("~/bundles/chartjs")




    @RenderSection("scripts", required: false)
</body>
</html>
